<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%=4 + 5 +1 %></h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod nemo blanditiis ullam? Dolore maiores labore non qui necessitatibus assumenda placeat quas! Vitae nobis voluptatum, suscipit quae possimus reprehenderit non ducimus.
    </p>


</body>
</html>